<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropMenuDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3725AD971F67BE8000FA94A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3725ADB01F67BE8000FA94A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3725ADBB1F67BE8000FA94A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
